<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hrvek Lesarov</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a class="navbar-button" href="#projects">Projects</a>
        <a class="navbar-button" href="#projects">Projects</a>
        <a class="navbar-button" href="#projects">Projects</a>
        <a class="navbar-button" href="#projects">Projects</a>
        <a class="navbar-button" href="#projects">Projects</a>
    </div>
</body>

</html>
