{{ $feed := . }}
<div class="feedboard-kills-item">
  {{ if $feed.FinalBlow }}
  <div class="feedboard-character">
    <a
      href="https://zkillboard.com/character/{{ $feed.FinalBlow.Id }}/"
      target="_blank"
    >
      {{ $feed.FinalBlow.Name }}
    </a>
  </div>
  {{end}}
  <div
    class="feedboard-kills-item-image-container {{ if $feed.IsFiftyFiftyFiftyKill }} feedboard-kill-green-bg {{ end }}"
  >
    <a
      class="feedboard-kills-item-image"
      href="https://zkillboard.com/kill/{{ $feed.KillmailID }}/"
      target="_blank"
    >
      <img
        src="https://images.evetech.net/types/{{ $feed.Esi.Victim.ShipTypeID }}/render?size=128"
        alt="Image of a ship"
      />
    </a>
    <div class="feedboard-isk">{{ $feed.Isk }} ISK</div>
  </div>
  {{ if $feed.Victim }}
  <div class="feedboard-character">
    <a
      href="https://zkillboard.com/character/{{ $feed.Victim.Id }}/"
      target="_blank"
    >
      {{ $feed.Victim.Name }}
    </a>
  </div>
  {{end}}
</div>
